[Desktop Entry]
Version=1.0
Type=Application
Name=1280x960
Comment=
Exec=termux-x11-preference "displayResolutionExact":"1280x960"
Icon=/data/data/com.termux/files/home/xfce4/Iconos/resolucion.png
Path=
Terminal=false
StartupNotify=false
