[Desktop Entry]
Version=1.0
Type=Application
Name=1920x1200
Comment=
Exec=termux-x11-preference "displayResolutionExact":"1920x1200"
Icon=/data/data/com.termux/files/home/xfce4/Iconos/resolucion.png
Path=
Terminal=false
StartupNotify=false
