[Desktop Entry]
Version=1.0
Type=Application
Name=FileManager
Comment=Browse the filesystem with the file manager
Exec=thunar /data/data/com.termux/files/home/storage/
Icon=org.xfce.thunar
Path=
Terminal=false
StartupNotify=true
