[Desktop Entry]
Version=1.0
Type=Application
Name=Gemini
Exec=/data/data/com.termux/files/usr/lib/chromium/chromium-launcher.sh --start-maximized --app=https://gemini.google.com
Icon=/data/data/com.termux/files/home/xfce4/Iconos/gemini.png
Terminal=false
StartupNotify=false
Comment=
Path=
