[Desktop Entry]
Version=1.0
Type=Application
Name=Gmail
Comment=
Exec=firefox https://mail.google.com/mail/u/0/#inbox
Icon=/data/data/com.termux/files/home/xfce4/Iconos/gmail.png
Path=
Terminal=false
StartupNotify=false
