[Desktop Entry]
Version=1.0
Type=Application
Name=Keep
Exec=/data/data/com.termux/files/usr/lib/chromium/chromium-launcher.sh --app=https://keep.google.com/
Icon=/data/data/com.termux/files/home/storage/linux/Iconos/google-keep.png
Terminal=false
StartupNotify=false
Comment=
Path=
