[Desktop Entry]
Version=1.0
Type=Application
Name=NotebookLM
Exec=firefox https://notebooklm.google.com/
Icon=/data/data/com.termux/files/home/xfce4/Iconos/notebooklm.png
Terminal=false
StartupNotify=false
Comment=
Path=
