[Desktop Entry]
Version=1.0
Type=Application
Name=Outlook
Exec=firefox https://outlook.office.com/mail/
Icon=/data/data/com.termux/files/home/xfce4/Iconos/outlook.png
Terminal=false
StartupNotify=false
Comment=
Path=
