[Desktop Entry]
Version=1.0
Type=Application
Name=Task
Exec=firefox https://to-do.office.com/tasks/today
Icon=/data/data/com.termux/files/home/xfce4/Iconos/task.png
Terminal=false
StartupNotify=false
Comment=
Path=
