[Desktop Entry]
Version=1.0
Type=Application
Name=Twitch
Exec=/data/data/com.termux/files/usr/lib/chromium/chromium-launcher.sh --app=https://www.twitch.tv/directory/following
Icon=/data/data/com.termux/files/home/storage/linux/Iconos/twitch.png
Terminal=false
StartupNotify=false
Comment=
Path=
