[Desktop Entry]
Version=1.0
Type=Application
Name=WhatsApp
Exec=firefox https://web.whatsapp.com/
Icon=/data/data/com.termux/files/home/xfce4/Iconos/whatsapp.png
Terminal=false
StartupNotify=false
Comment=
Path=
