[Desktop Entry]
Version=1.0
Type=Application
Name=WhatsApp
Exec=/data/data/com.termux/files/usr/lib/chromium/chromium-launcher.sh --app=https://web.whatsapp.com/
Icon=/data/data/com.termux/files/home/storage/linux/Iconos/whatsapp.png
Terminal=false
StartupNotify=false
Comment=
Path=
