[Desktop Entry]
Version=1.0
Type=Application
Name=YouTube
Exec=firefox https://www.youtube.com/feed/subscriptions
Icon=/data/data/com.termux/files/home/xfce4/Iconos/youtube.png
Terminal=false
StartupNotify=false
Comment=
Path=
